content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: blue;
}
body{
    background-color: #ff0606;
}
header{
    background-color: rgba(20,30,13, .7);
}
nav a:hover{
    background-color: black;
}
.book{
    background-color: white;
}
.join{
    background-color: white;
}
.book:hover{
    background-color: black;
}
.join:hover{
    background-color: black;
}
.msg{
    background-color: white;
}
footer{
    background-color: turquoise;
}